@charset "UTF-8";

body{
		margin:0px;
		text-align:center;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		background-color:#FFF9F5}
	
	h1 {
		color:#FFF9F5;
		font-size: 75px;
		background-color:#F496A6;
		margin-top:100px;
		margin-left:200px;
		margin-right:200px;
		padding:50px}
		
		
	h3{
		color:#F496A6;
		font-size:60px;
		
	}
		
	.center{display:block;
		margin-left:auto;
		margin-right:auto;
		width:50%}
		
	.center-button{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:50%
	}
		
	p{
		color:#82675F;
		font-size: 25px;
		margin-left:150px;
		margin-right:150px;
		}
		
	h5{
		color:#FA5291;
		font-size:20px;}
		
	img{align-content: center}
		

	button{
		background-color:#F496A6;
		border:none;
		color:#FFF9F5;
		padding:15px 32px;
		text-align:center;
		text-decoration:none;
		display:inline-block;
		font-size:20px;
		width:250px;
		margin:0px;
		class:center}

		
	li{
		color:#82675F;
		font-size:25px;
	}
	h6{
		color:#FA5291;
		font-size: 20px;
	}
	h2{
		color:#F496A6;
		font-size: 5em;
	
	}
	h8{
		color:#FA5291;
		font-size:2em;
			
		}
	
	h10{
		color:#FA5291;
		font-size: 40px;
		margin-left:30px;
		margin-right:30px;
		class:center;
		padding-top:60px;
		padding-bottom:60px;
		
	}
		
	.nav {
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #FFF9F5;
		position:fixed;
		top:0;
		width:100%
  
	}
		.nav li {
			float:left;
		}
		
	.nav li a{
  		display: block;
 		color:#F496A6;
 		text-align: center;
		padding: 14px 16px;
 		text-decoration: none;
		font-weight:bold;
}

	.nav li a:hover {
  background-color: #FFF9F5
}

	.active {
  	background-color:#82675F;
	color:#FFF9F5
}
		.liststyle li{
			text-align:left;
			margin-left:250px;
			margin-right:40px;
			padding-bottom:10px
			
			
		}
.classleft h1{
	text-align:left;
}

.classbackground{
	background-color:#F496A6;
	color:#FFF9F5;
	padding:75px
}
